/* .HistoryCard {
  max-width: 1500px;
  width: 100% !important;
  margin: 20px auto;
}

.HistoryCard * {
  background-color: #121220 !important;
  color: white;
  font-size: medium;
}

.HistoryCard [role="cell"] {
  border: 1px wheat dashed;
} */
.update-container {
  text-align: center;
}
.update-container > button {
  padding: 20px;

  background-color: transparent;
  color: white;
  font-weight: bolder;
  border: 1px solid white;
  cursor: pointer;
  margin: 18px auto;
  width: 300px;
  max-width: 100%;
  text-transform: uppercase;
  border-radius: 50px;
}

.update-container > button:hover {
  color: #121220;
  background-color: wheat;
}
